#container1{
        height: 300px;
        width: 200px;
        margin: 100px auto;
        border: 1px solid grey;
        border-radius: 15px;
    }
    #container1 button{
        display: block;
        background: burlywood;
        border: none;
        border-radius: 20px;
        margin: 20px auto;
        padding: 5px 30px;
        color: green;
        font-size: 20px;
        outline: none;
    }
    #container1 #time{
        font-size: 22px;
        margin: 25px auto;
        text-align: center;
    }